body {
	margin: 0;
	padding: 0;
	background: #2A2A2A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
}

#page h2{
	font-weight: bold;
}

.info h3{
	font-weight: bold;
}

.info p{
	font-size: 1.3em;
}
h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	margin-bottom: 0px;
	line-height: 180%;
}

li a {
	text-decoration: none;
	color: #000000;
}

#wrapper {
	width: 980px;
	height: 60px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
}

header {
	clear: both;
	width: 980px;
	height: 276px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background: url(images/imghome.jpg)  left top;
}

#logo {
	margin: 0;
	padding: 20px 0px 0px 60px;
	color: #000000;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: orange;
	font-size: 2.7em;
	font-weight: bold;
}

/* Search */

#search {
	float: right;
	width: 280px;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 17px 0 0 20px;
}

#search-string {
	width: 220px;
	padding: 8px 5px 6px 5px;
	border: none;
	background: #FFFFFF url(images/imgSearch.jpg) no-repeat left top;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #000000;
}

/* Menu */

#upper-menu {
	float: left;
	width: 680px;
	height: 60px;
	padding: 0px;
}

#upper-menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}
#upper-menu ul ul {
	position: absolute;
	top:55px;
	visibility: hidden;
	width: 180px;
}

#upper-menu ul li:hover ul {
	visibility: visible;
}

#upper-menu ul ul li {
	border-bottom: 1px solid #1A1A18;
	width: 180px;
	padding-right: 0px;
}
#upper-menu ul ul li a {
	background-color: #3A3A3A;
}

#upper-menu li {
	float: left;
	position: relative;
	border-right: 1px solid #1A1A18;
	text-align: center;
}

#upper-menu a {
	display: block;
	height: 30px;
	padding: 25px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#upper-menu a:hover{
	text-decoration: none;
	color: orange;
}

.Gestione {
	width: 180px;
}

.Gestione a {
	cursor: pointer;
}


/* Page */

#page {
	width: 900px;
	margin: 0px auto;
	padding: 0px 40px;
	background: #DDDDDD;
}

#page h2{
    padding-top: 10px;
}


/* Content */

#content {
	float: right;
	width: 660px;
	padding: 30px 0px 0px 0px;
}

.prodotto {
	margin-bottom: 40px;
	background-color: #FFFFFF;
	padding: 10px;
	border-radius: 15px;
}

#content .nome-prodotto {
	font-size: 17px;

	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;

}

.prodotto .lunga-desc {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	word-wrap: break-word;
	text-align: justify;
}


/* Sidebar */

#sidebar {
	float: left;
	width: 200px;
	margin: 0px;
	padding: 40px 0px 0px 0px;
	color: #949494;
}

#sidebar ul {
	margin: 0;
	padding-left: 0;
	list-style: none;

	background-color: white;

	border-radius: 10px;
}

#sidebar li {
	margin: 0;
	padding: 0;

}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
	list-style-type: none;
}

#sidebar li li {
	border-bottom: 1px solid #E3E5E3;
	padding: 5px 10px;
	border-left: none;
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;

}

#sidebar h2 {
	height: 38px;
	letter-spacing: -.5px;
	font-size: 1.8em;
}

#sidebar a {
	border: none;
	color: #000000;
}

#sidebar a:hover {
	text-decoration: none;
	color: #0000FF;
}

#sidebar a.cat-selected {
	text-decoration: underline;
	color: #0000FF;
}

.cat {
	background-color: #AAAAAA;
	padding-left: 5px;
	padding-top: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


/* Footer */

footer {
	width: 980px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0px 15px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

footer p {
	margin: 0;
	padding: 0px 0px 0px 40px;
	line-height: normal;
	text-transform: capitalize;
	color: #A0A0A0;
}

footer a {
	color: #8A8A8A;
}


/* Footer Menu */

#bottom-menu {
	width: 960px;
	height: 60px;
	margin: 0px auto;
	padding: 0px 0px 0px 20px;
	clear: both;
}

#bottom-menu ul {
	margin: 0;
	padding: 30px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#bottom-menu li {
	float: left;
}

#bottom-menu a {
	display: block;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #8A8A8A;
	border-right: 1px solid #383838;
}

#bottom-menu a:hover {
	color: #FFFFFF;
}

img.img-prodotto {
	width: 100px;
	height: 80px;
	float: left;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

img.img-prodotto:hover {opacity: 0.7;}

/* Finestra modale */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.9); /* Nero opaco*/
}

/* Immagine nella finestra modale */
.modal-content {
    margin: auto;
    display: block;
    width: 40%;
    max-width: 500px;

    /* Inserimento animazione: effettua l'ingrandimento dell'immagine*/
    animation-name: zoom;
    animation-duration: 0.8s;
}

/* Definizione dell'animazione */
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}







.prezzi {
	float: right;
	margin-left: 0px;
	margin-top: -40px;
}



.info-primarie {
	float:right;
	width: 520px;
	margin-bottom: 5px;
}

.breve-desc {
	width: 340px;
	word-wrap: break-word;
}

.div-nome-prodotto{
	width: 370px;
	display: block;
}
.div-breve-desc {
	width: 350px;
	display: block;
	height: 45px;
}

.prezzi p {
	text-align: right;
}

.percentuale-sconto {
	color: #F00;
	font-size: 12px;
	clear: both;
}

.prezzo-intero-numero {
	font-size: 15px;
	color:#666;
	text-decoration: line-through;
	float: right;
}
.prezzo-intero {
	font-size: 15px;
	color:#666;
	float : left;
}
.prezzo-effettivo {
	font-size: 20px;
	color:#000;
	font-weight: bold;
}


/* Form */

.form-style-1 {
	margin:0px auto;
	max-width: 600px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-2 {
	margin:0px auto;
	max-width: 800px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
	padding: 0;
	display: block;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.form-style-1 input,
textarea,
select{
	box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
}
.form-style-1 input:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

input[type=submit], input[type=button], input[type=reset]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover{
	background: #4691A4;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-repeat: no-repeat;
	background-position: center center;

}

.wrap-form {
	width: 255px;
	border-radius: 2px;
	padding: 30px 30px;
}

.wrap-form1 {
    width: 520px;
	border-radius: 2px;
	padding: 30px 30px;
}

.wrap-input {
	width: 100%;
	background-color: transparent;
	margin-bottom: 12px;
}

.label-input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555555;
	line-height: 1,5;
}

.class-form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.width-setter{
	width: calc((100% - 30px) / 2);
}

.input {
	display: block;
	width: 100%;
	padding: 5px;
	margin-top: 5px;
}

.container-form-btn {
    width: 100%;
    justify-content: left;
    margin-top: 5px;
}

.errors {
	color: #f93d00;
    font-size: 12px;
}

.errors ul {
	line-height: 100%;
}


/*  Tabelle usate all'interno delle form */

table {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
}

th {
    border-bottom: 2px solid #6678B1;
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 8px;
}

td {
    border-bottom: 1px solid #CCCCCC;
    padding: 6px 8px;
}

td.column{
	width: 270px;
}
td.column p{
	word-wrap: break-word;
	width: 265px;
}
td.column2{
	width: 150px;
}

td.column2 p{
	word-wrap: break-word;
	width: 145px;
}


/* Testo sotto le form di login e registrazione */

.login {
	text-align: center;
	font-size: 18px;
}
.login a {
	color: blue;
	text-decoration: underline;
}


/* Per le pagine relative a info sul sito */

.info{
    padding-top: 20px;
}

.info p{
    text-align: justify;
}


/* Pagination */

#pagination {
	text-align :center;
}

#pagination a {
	border-bottom:none;
	color: blue;
}
